<div class="section no-padding" id="home-banner">
    <div class="row tt-blue-text tt-margin-top tt-main-background z-depth-1 tt-principal">

        <div class="hide-on-large-only">
            <img class="responsive-img z-depth-1" src="assets/images/final-bg-mobile.jpg" alt="" />
        </div>

        <div class="hide-on-med-and-down">
            <br>
            <br>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col m6 s12 main-search-box tt-pacientes-box z-depth-5 tt-search-home tt-new-green-bg p-all-ss ">
                    <div class="col s12 center no-padding ">
                        <form name="Home.homeForm" data-ng-submit="Home.submitForm(Home.form)" class="card" style="padding-top: 13px;padding-bottom: 13px; margin:0px;">
                            <h6 class="header center" style="color: #4c8df9 !important;">Somos uma plataforma para você recomendar e contratar Cuidadores, Enfermeiras e Fisioterapeutas!</h6>
                            <p class="col s12 center" style="color: #4c8df9 !important;">
                                Pacientes e Familiares, encontre cuidadores, enfermeiras e fisioterapeutas para cuidar de quem você ama.
                            </p>
                            <div class="col s12 center">
                                <input class="center white black-text" style="background-color: #4c8df9 !important;
                                       color: white !important;
                                       border-radius: 4px;
                                       border: 0px;" data-ng-model="Home.form.cep" required type="text" name="cep" mask="99999-999" placeholder="Digite seu CEP aqui" />
                            </div>

                            <div class="col s12 center">
                                <select data-ng-model="Home.form.selectedPartner" required data-ng-options="partner.name for partner in Home.partners" class="black-text">
                                    <option value="">Escolha o profissional</option>
                                </select>
                            </div>

                            <div class="col s12 center">
                                <button class="btn waves-effect waves-light col s12"  analytics-on="click" analytics-event="Clique-Botao-Busca-Home"
                                        type="submit" name="action" style="margin-top:15px; background-color: #de4d68;">
                                    Pesquise aqui
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="col s12 no-padding">
                        <h6 class="center white-text tt-new-red-bg p-all-s" style="margin-bottom:0px;">Que tal fazer uma busca?</h6>
                    </div>
                    <div class="clearfix"></div>

                </div>
<!--
                <div class="col m4 s12 offset-m1 evaluate-button">
                    <script>
                        url = baseService();
                    </script>

                    <a href="" onclick="location.replace(url.backendUrl + '/evaluate/evaluate.php')">
                        Quer avaliar um cuidador, <br> enfermeiro ou fisioterapeuta?
                        <br>
                        Clique aqui
                    </a>

                </div>
-->
            </div>
        </div>
        
    </div>
    <div class="clearfix">
    </div>
